@import './variable.scss';
@import '../../../../theme/default.scss';

.postnav__container{
  height: $nav_height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{
    font-size: $title_font_size;
    font-weight: $highlight_font_weight;
  }
  .postnav__nav--wrapper{
    .postnav__nav--menu{
      background-color: $body_bg_color;
      .ant-menu-item{
        line-height: $nav_height;
        height: $nav_height;
        margin-top: 0;
        margin: 0 15px;
        &:hover{
          color: $highlight_color;
          border-bottom-color: $highlight_hover_color;
        }
        &.ant-menu-item-selected{
          color: $first_color;
          border-bottom-color: $highlight_color;
          font-weight: $highlight_font_weight;
        }
      }
    }
  }
}