@import './variable.scss'; 
@import '../../../theme//default.scss';
.post__container{
  margin: $post_item_gutter 0;
  cursor: pointer;
  .post__image--album{
    height: $post_album_image_height;
  }
  .post__board--wrapper{
    padding: $post_board_padding;
    padding-left: $post_board_padding + $post_avatar_size + 8px;
    background-color: $post_board_bg_color;
    position: relative;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    .post__image--avatar{
      border-radius: 50%;
      height: $post_avatar_size;
      width: $post_avatar_size;
      position: absolute;
      top: $post_board_padding;
      left: $post_board_padding;
    }
    .post__user--info{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: left;
      height: $post_avatar_size;
      p{
        &:first-of-type{
          font-weight: $second_highlight_font_weight;
          line-height: $post_avatar_size/3*2;
        }
        &:nth-of-type(2){
          font-size: $small_font_size;
          line-height: $post_avatar_size/3*1;
        }
      }
    }
    .post__article--title{
      h1{
        font-weight: $highlight_font_weight;
        font-size: $title_font_size;
        padding: 10px 0;
      }
      .post__article--tag{
        font-size: $small_font_size;
        margin-right: 10px;
      }
    }
    .post__article--count{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .post__count--left{
        height: 20px;
        p{
          font-weight: $second_highlight_font_weight;
          line-height: 20px;
          span{
            margin-right: 20px;
          }
        }
      }
    }
  }
}
