// -------------------------------------------------- //
// -------------------------------------------------- //
// ----------------- Body Theme --------------------- //
// -------------------------------------------------- //
// -------------------------------------------------- //
$max_center_width: 1248px; // 中间内容区的最大宽度
$body_bg_color: #EEF0F1; // body的北京颜色
$body_padding: 0 20px 0 20px; // body四周的padding
$card_bg_color: #ffffff;

// -------------------------------------------------- //
// -------------------------------------------------- //
// --------------- Header Theme --------------------- //
// -------------------------------------------------- //
// -------------------------------------------------- //

$header_height: 56px; // header的高度
$header_bg_color: #ffffff; // header的背景颜色

// -------------------------------------------------- //
// -------------------------------------------------- //
// ---------------- Theme Color --------------------- //
// -------------------------------------------------- //
// -------------------------------------------------- //

$highlight_color: #3B49DF;
$highlight_hover_color: #DBDFEF;
$first_color: #000000;
$second_color: #4D5760;

// -------------------------------------------------- //
// -------------------------------------------------- //
// ----------------  Theme Font --------------------- //
// -------------------------------------------------- //
// -------------------------------------------------- //

$highlight_font_weight: 800;
$second_highlight_font_weight: 600;
$highlight_font_size: 16px;
$title_font_size: 20px;
$album_font_size: 40px;
$small_font_size: 12px;