@import '../../theme/default.scss';
.header__container{
  margin: 0 auto;
  height: $header_height;
  background-color: $header_bg_color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: $body_padding;
  // ---------- 固定header到顶部 ---------- //
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  .header__wrapper--center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max_center_width;
    @media screen and (max-width: $max_center_width){
      width: 100%;
    }
    @media screen and (min-width: $max_center_width){
      width: $max_center_width;
    }
    .header__logo--left{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .header__blk--logo{
        cursor: pointer;
        display: inline-block;
        // width: 50px;
        height: 40px;
        background-color: #000000;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        padding: 0 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right: 20px;
      }
      .header__input--search{
        height: 40px;
        width: 420px;
        border-radius: 5px;
        padding: 7px 8px;
        border: 1px solid #575555;
        outline: none;
        padding-left: 15px;
      }
    }
    .header__profle--right{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      button{
        margin-left: 15px;
      }
      button:first-of-type{
        background-color: $highlight_color;
        font-weight: $highlight_font_weight;
        border-radius: 8px;
        font-size: $highlight_font_size;
        border: none;
      }
      button:not(:first-of-type){
        background-color: transparent;
        color: $second_color;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 50%;
        :hover{
          color: #000000;
        }
      }
    }
    
  }
  

}