@import '../../../theme//default.scss';
$box_padding: 15px;
.loginbox__container{
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: left;
  padding: $box_padding;
  .loginbox__wrapper--title{
    font-size: $title_font_size;
    font-weight: $highlight_font_weight;
    color: #000000;
    border-bottom:  1px solid #E2E2E2;
    margin-left: -$box_padding;
    margin-right: -$box_padding;
    padding: 0 $box_padding;
  }
  .loginbox__wrapper--btns{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    button{
      width: 88%;
      border-radius: 10px;
      font-weight: $highlight_font_weight;
      border: none;
      &:first-of-type{
        margin-bottom: 20px;
        background-color: #23292F;
      }
      &:nth-of-type(2){
        background-color: #00A4F9;
      }
    }
  }
}